@using PBook.Domain.Entidades
@model Assunto
@{
    ViewData["Title"] = "Criar assunto";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar assunto</h1>
</div>


<form asp-controller="Assunto" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do assunto">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Assunto" role="button">Voltar</a>
        </div>
    </div>

</form>
